.form {
  max-width: 480px;
  margin: 0 auto;
  border: none;
  padding: 20px;
}

.field {
  display: flex;
  flex-flow: row nowrap;
  line-height: 2em;
  padding: 5px;
}

.field label {
  color: #333;
  width: 110px;
  font-size: 1em;
  line-height: 32px;
  text-align: left;
}

.field input, .field select, .field textarea {
  flex: 1;
  padding: 3px 5px;
  font-size: 1em;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.field__checkbox {
  align-items: center;
}

.field div {
  margin-left: 15px;
}

.field div label {
  display: block;
}

.field div label input {
  margin-right: 3px;
  margin-left: 0;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.buttons button {
  margin: 0 10px;
  padding: 4px 8px;
  border-radius: 5px;
}

.buttons__submit {
  background-color: #4f64c5;
  color: #ffffff;
}

.buttons__submit:disabled {
  background-color: rgba(79, 100, 197, 0.3);
}

.form pre {
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-all;
}

.form .labels {
  display: flex;
  flex-direction: column;
}

form .invalid {
  border: 1px solid #ff0000;
}
